.Rproj.user
.Rhistory
.RData
.Ruserdata
AutoPollen.html
cosmo
vignettes/Concept.html
%
=
vignettes/figures/
vignettes/ext-data/
vignettes/Verification.html
data/*
map_timo.png
workspace.RData
environment.yml
